body {
  display: flex;
  flex-flow: column;
}

h1, h2 {
  position: relative;
  z-index: 2;
}

.dot {
  position: fixed;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: lightgrey;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.inutile {
  position: fixed;
  width: 5rem;
  height: 2rem;
  background-color: black;
}

#coucou {
  margin: auto;
  font-size: 2rem;
}

section {
  border: 1px solid grey;
  height: 20rem;
  margin: 1rem;
}

article {
  margin: auto;
  width: 20rem;
  padding: 0.5rem;
  box-shadow: 1px 5px 10px 1px grey;
}

article h3 {
  font-size: 1.3rem;
  margin-block: 0.5rem;
}

article p {
  font-size: 0.9rem;
}

article .content {
  min-height: 4rem;
}

article footer .author, article footer .date {
  text-align: right;
  font-size: 0.8rem;
}

.numero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: darkblue;
  color: white;
}
