* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#search, #todo {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 3rem auto;
  width: 50%;
}

#todo {}

.text-input {
  width: 100%;
  padding: 0.5em;
  outline: none;
  border: 1px solid lightgrey;
}

.text-input:focus {
  border-color: mediumaquamarine;
}

#suggestions {
  width: 100%;
}

.suggestion {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  border: 1px solid black;
  border-bottom: none;
  cursor: pointer;
}

.suggestion:last-of-type {
  border-bottom: 1px solid black
}

.suggestion:hover {
  background: lightgrey;
}

.todos {
  width: 100%;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  padding: 0.5em;
  margin: 0.5em 0;
  width: 100%;
  font-size: 1.5em;
  cursor: pointer;
}

.todo:hover {
  background: lightblue;
}

.todo button {
  cursor: pointer;
  font-size: 0.7em;
}

.todo.done {}

.todo.done div {
  opacity: 0.3;
  text-decoration: line-through;
}

.todo.done button:hover {
  opacity: 1
}
