body {
  padding: 2rem;
}

p {
  /* relatives au texte */
  color: blue;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  /* relatives au bloc */
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 30px;
  cursor: pointer;
  background-color: grey;
  box-shadow: 5px 10px 4px 7px black;
}
